.user-container {
  height: 60px;
  display: flex;
  width: 1650px;
  margin-left: 80px;
  position: relative;
  margin-top: 37px;
}

.user-container:first-child {
  margin-top: 0;
}

.user-avatar {
  border-radius: 50%;
  border: 3px solid #666666;
  margin-bottom: 15px;
}

.user-avatar-opacity {
  border-radius: 50%;
  border: 3px solid #666666;
  margin-bottom: 15px;
  opacity: 0.35;
}

.user-info {
  margin-left: 45px;
  width: 500px;
}

.user-info-opacity {
  margin-left: 45px;
  width: 500px;
  opacity: 0.35;
}

.user-role {
  position: absolute;
  left: 740px;
  margin-top: 5px;
  font: normal normal 600 16px/21px Segoe UI;
  color: #000000;
}

.user-role-opacity {
  opacity: 0.35;
  position: absolute;
  left: 740px;
  margin-top: 5px;
  font: normal normal 600 16px/21px Segoe UI;
  color: #000000;
}

.user-status {
  position: absolute;
  left: 1200px;
  margin-top: 5px;
}

.user-divider {
  border-bottom: 1px solid #d8d8d8;
  width: 1550px;
  margin-left: 170px;
  position: absolute;
}

.user-name {
  font: normal normal 600 16px/21px Segoe UI;
  color: #000000;
}

.user-email {
  font: normal normal 300 16px/21px Segoe UI;
  color: #000000;
}

.user-actions {
  width: 100px;
  height: 30px;
  position: absolute;
  right: 0;
}

.user-actions-settings {
  width: 22px;
  margin-left: 10px;
  cursor: pointer;
}

.user-toggleBtn {
  cursor: pointer;
}

.user-actions-del {
  position: absolute;
  width: 16px;
  left: 52px;
  cursor: pointer;
}

.user-role-key {
  width: 24px;
  height: 24px;
  background: #7e7ef1;
  border-radius: 30px;
  padding-block: 4px;
  padding-inline: 12px;
  margin-left: 80px;
}

.user-role-key-opacity {
  width: 24px;
  height: 24px;
  border-radius: 30px;
  padding-block: 4px;
  padding-inline: 12px;
  margin-left: 80px;
  opacity: 0.35;
}
