.table-container {
  border-radius: 4px;
  height: 1080px;
}

.table-header-wrapper {
  height: 211px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  justify-content: center;
}

.table-header-container {
  background: #ffffff 0% 0% no-repeat padding-box;
  min-width: 1920px;
}

.table-header-text {
  margin-top: 96px;
  margin-left: 276px;
  width: 234px;
  height: 48px;
  font: normal normal 600 36px/48px Segoe UI;
  color: #000000;
}

.table-add {
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-top: 30px;
  margin-left: 159px;
  width: 72px;
  height: 72px;
  background: #305eca 0% 0% no-repeat padding-box;
  cursor: pointer;
}

.table-categories-divider {
  margin-top: 32px;
  margin-left: 274px;
  width: 1550px;
  border-bottom: 2px solid #d8d8d8;
}

/* ----------------- */

.table-main-wrapper {
  display: flex;
  justify-content: center;
}

.table-main-container {
  width: 1920px;
  height: 869px;
  border: 1px solid green;
}

.table-categories {
  display: flex;
}

.table-user {
  display: flex;
  margin-top: 60px;
  margin-left: 276px;
  width: 38px;
  height: 21px;
  font: normal normal 600 16px/21px Segoe UI;
  color: #000000;
  text-transform: uppercase;
}

.table-role {
  display: flex;
  margin-top: 60px;
  margin-left: 590px;
  width: 38px;
  height: 21px;
  font: normal normal 600 16px/21px Segoe UI;
  color: #999999;
  text-transform: uppercase;
}

.table-status {
  display: flex;
  margin-top: 60px;
  margin-left: 410px;
  width: 55px;
  height: 21px;
  font: normal normal 600 16px/21px Segoe UI;
  color: #999999;
  text-transform: uppercase;
}

.table-actions {
  display: flex;
  margin-top: 60px;
  margin-left: 320px;
  width: 67px;
  height: 21px;
  font: normal normal 600 16px/21px Segoe UI;
  color: #999999;
  text-transform: uppercase;
}

.table-icon-triangle {
  width: 13px;
  margin-left: 8px;
}

.table-users-container {
  margin-top: 60px;
  margin-left: 90px;
}

/* .table-icon-polygon-notFirst {
  width: 13px;
  margin-left: 15px;
} */
