.table-container {
  border-radius: 4px;
  height: 1080px;
}

.table-header-wrapper {
  height: 211px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  justify-content: center;
}

.table-header-container {
  background: #ffffff 0% 0% no-repeat padding-box;
  min-width: 1920px;
}

.table-header-inp {
  border: none;
  font-size: 20px;
  font-style: italic;
  outline: none;
  width: 400px;
}

.table-header-search {
  border-bottom: 2px solid #707070;
  width: 356px;
  height: 30px;
  position: absolute;
  top: 115px;
  margin-left: 1450px;
  display: flex;
  justify-content: space-between;
}

.table-header-text {
  margin-top: 96px;
  margin-left: 276px;
  width: 234px;
  height: 48px;
  font: normal normal 600 36px/48px Segoe UI;
  color: #000000;
}

.table-add {
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  position: relative;
  top: 30px;
  left: 159px;
  width: 72px;
  height: 72px;
  background: #305eca 0% 0% no-repeat padding-box;
  cursor: pointer;
}

.table-categories-divider {
  margin-top: 32px;
  margin-left: 260px;
  width: 1550px;
  border-bottom: 2px solid #d8d8d8;
}

.table-main-wrapper {
  display: flex;
  justify-content: center;
}

.table-main-container {
  width: 1920px;
  height: 869px;
  min-width: 1920px;
}

.table-categories {
  display: flex;
}

.table-user {
  display: flex;
  margin-top: 60px;
  margin-left: 276px;
  width: 38px;
  height: 21px;
  font: normal normal 600 16px/21px Segoe UI;
  color: #000000;
  text-transform: uppercase;
}

.table-role {
  display: flex;
  margin-top: 60px;
  margin-left: 590px;
  width: 38px;
  height: 21px;
  font: normal normal 600 16px/21px Segoe UI;
  color: #999999;
  text-transform: uppercase;
}

.table-status {
  display: flex;
  margin-top: 60px;
  margin-left: 410px;
  width: 55px;
  height: 21px;
  font: normal normal 600 16px/21px Segoe UI;
  color: #999999;
  text-transform: uppercase;
}

.table-actions {
  display: flex;
  margin-top: 60px;
  margin-left: 320px;
  width: 67px;
  height: 21px;
  font: normal normal 600 16px/21px Segoe UI;
  color: #999999;
  text-transform: uppercase;
}

.table-icon-triangle {
  width: 13px;
  margin-left: 8px;
}

.table-users-container {
  margin-top: 40px;
  margin-left: 90px;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}

.table-count-container {
  display: flex;
  width: 300px;
  margin-left: 170px;
  font: normal normal 300 16px/21px Segoe UI;
  color: #000000;
}

.table-count-number {
  margin-left: 23px;
  font: normal normal bold 16px/21px Segoe UI;
}

.table-pagination {
  margin-right: 60px;
  width: 250px;
  display: flex;
}

.table-count-triangle {
  margin-top: 8px;
  width: 13px;
  margin-left: 7px;
  height: 7px;
}

.table-pagination-previous {
  font: normal normal 300 16px/21px Segoe UI;
  cursor: pointer;
  margin-top: 6px;
}

.table-pagination-next {
  font: normal normal 300 16px/21px Segoe UI;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 6px;
}

.table-pagination-buttons {
  display: flex;
}

.table-pagination-btn {
  background: #c6c6c6 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  height: 32px;
  width: 32px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
}

.table-pagination-btn2 {
  background: none;
  border-radius: 4px;
  height: 32px;
  width: 32px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
}
